// process.container = 'mamba'
docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true

mail {
    from = 'arjkvc@gmail.com'
    smtp.host = 'smtp.gmail.com'
    smtp.port = 587
    smtp.user = "arjkvc@gmail.com"
    smtp.password = ""
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
}