process.container = 'nextflow/rnaseq-nf'
docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true

process {
    withName: QUANTIFICATION {
        cpus = 2
        memory = '5 GB'
    }
}

mail {
    from = 'arjkvc@gmail.com'
    smtp.host = 'smtp.gmail.com'
    smtp.port = 587
    smtp.user = "arjkvc@gmail.com"
    smtp.password = ""
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
}